In [3]:
import numpy as np 
import pandas as pd

In [4]:
df = pd.read_csv('../TextFiles/moviereviews.tsv', sep='\t')
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [8]:
df.dropna(inplace=True)

In [7]:
blanks = []

for i,lb,rv in df.itertuples():
    if type(rv) == "str":
        if rv.isspace:
            blanks.append(i)

In [9]:
blanks

[]

In [10]:
df["label"].value_counts()

label
neg    983
pos    982
Name: count, dtype: int64

In [11]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

In [12]:
df["scores"] = df["review"].apply(lambda review: sid.polarity_scores(review))

In [13]:
df["compound"] = df["scores"].apply(lambda d:d["compound"])

In [14]:
df.head()

,label,review,scores,compound
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.109, 'neu': 0.803, 'pos': 0.089, 'co...",-0.9250
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.103, 'neu': 0.81, 'pos': 0.087, 'com...",-0.9087
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.059, 'neu': 0.802, 'pos': 0.139, 'co...",0.9968
3,pos,according to hollywood movies made in last few...,"{'neg': 0.06, 'neu': 0.805, 'pos': 0.135, 'com...",0.9976
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.078, 'neu': 0.843, 'pos': 0.079, 'co...",-0.6399

In [18]:
df["predicted_score"] = df["compound"].apply(lambda score: "pos" if score>=0 else "neg")

In [19]:
df.head()

,label,review,scores,compound,predicted_score
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.109, 'neu': 0.803, 'pos': 0.089, 'co...",-0.9250,neg
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.103, 'neu': 0.81, 'pos': 0.087, 'com...",-0.9087,neg
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.059, 'neu': 0.802, 'pos': 0.139, 'co...",0.9968,pos
3,pos,according to hollywood movies made in last few...,"{'neg': 0.06, 'neu': 0.805, 'pos': 0.135, 'com...",0.9976,pos
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.078, 'neu': 0.843, 'pos': 0.079, 'co...",-0.6399,neg

In [2]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [23]:
accuracy_score(df["label"], df["predicted_score"])

0.6366412213740458

In [26]:
print(classification_report(df["label"], df["predicted_score"]))

              precision    recall  f1-score   support

         neg       0.74      0.42      0.54       983
         pos       0.60      0.85      0.70       982

    accuracy                           0.64      1965
   macro avg       0.67      0.64      0.62      1965
weighted avg       0.67      0.64      0.62      1965

In [25]:
confusion_matrix(df["label"], df["predicted_score"])

array([[417, 566],
       [148, 834]])